pip
bump2version
wheel
setuptools
watchdog
{% if cookiecutter.docs_tool == "sphinx" -%}
Sphinx
rstcheck
{%- elif cookiecutter.docs_tool == "mkdocs" -%}
pygments
pymdown-extensions
mkdocs-material
markdown-include
{%- endif %}
twine

pytest
pytest-cov
pytest-randomly

coverage
isort
black
flake8
wemake-python-styleguide
mypy
safety
pre-commit

{% if cookiecutter.data_science_structure == "yes" -%}
jupyterlab
{%- endif %}
